@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
    color: white;
}

.container {
    display: flex;
    height: auto;
}
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Animación de Fade + Slide */
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Inicia desplazado hacia abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Vuelve a su posición original */
    }
}

/* Inicializa las tarjetas con opacidad 0 y desplazadas hacia abajo */
.card {
    background: #2A2A3B;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    opacity: 0; /* Inicialmente invisibles */
    transform: translateY(30px); /* Inicialmente desplazadas */
    animation: fadeSlideUp 1s ease-out forwards; /* Duración de la animación */
    border: 2px solid #3f3f57;
}

/* Diferentes retrasos para cada tarjeta */
.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.2s;
}

.card:nth-child(3) {
    animation-delay: 0.4s;
}

.card:nth-child(4) {
    animation-delay: 0.6s;
}

/* Estilo para los títulos dentro de las tarjetas */
.card h3 {
    margin: 0 0 20px 0;
}

/* Estilo para el párrafo "Temperatura:" debajo del título */
.card p {
    font-size: 16px;
    margin: 5px 0 15px 0;
    color: #bbb;
}

/* Estilo para la sección de gráficas dentro de las tarjetas */
.card .chart {
    height: 200px;
}

/* Contenedor para la imagen */
.card .image-container {
    width: 100%; /* Ocupa todo el ancho del card */
    height: 75%; /* Ajusta la altura según el contenido */
    display: flex; /* Centra el contenido dentro del contenedor */
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Añade un margen arriba y abajo */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    border: 1px solid #444; /* Opción: añade un borde para visualizar los límites */
    border-radius: 5px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.11);
}

/* Imágenes dentro del contenedor */
.card .image-container img {
    max-width: 100%; /* La imagen ocupa el ancho máximo del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para que ocupe el contenedor sin deformarse */
}


/* Estilo para el título en la parte superior */
.header {
    padding: 5px;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 25px;
    color: white;
    animation: fadeSlideUp 1s ease-out forwards; /* Duración de la animación */
}
.icon-container {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    animation: fadeSlideUp 1s ease-out forwards; /* Duración de la animación */
}
