<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="header">
    <div class="icon-container" (click)="regresar()">
        <i class="uil uil-angle-left"></i>
    </div>
    <h1>Humedad</h1>
</div>
<div class="container">
    <div class="main-content">
        <div class="cards">
            <div class="card">
                <h3>Humedad Semanal</h3>
                <p>Humedad: 0%</p>
                <div class="image-container">
                    
                </div>
                <div class="chart">
    
                </div>
            </div>
            <div class="card">
                <h3>Humedad Mensual</h3>
                <p>Humedad: 0%</p>
                <div class="image-container">
                    
                </div>
                <div class="chart">

                </div>
            </div>
            <div class="card">
                <h3>Humedad Anual</h3>
                <p>Humedad: 0%</p>
                <div class="image-container">
                    
                </div>
                <div class="chart">
                    
                </div>
            </div>
            <div class="card">
                <h3>Humedad Tiempo Real</h3>
                <p>Humedad: 0%</p>
                <div class="image-container">
                    
                </div>
                <div class="chart">
                    
                </div>
            </div>
        </div>
    </div>
</div>

