<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="header" (click)="regresar()">
    <div class="icon-container">
        <i class="uil uil-angle-left"></i>
    </div>
    <h1>Peso</h1>
</div>
<div class="container">
    <div class="main-content">
        <div class="cards">
            <div class="card">
                <h3>Peso Semanal</h3>
                <p>Peso: 0Kg</p>
                <div class="image-container">
                    <div class="honeycomb">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                </div>
                <div class="chart">
    
                </div>
            </div>
            <div class="card">
                <h3>Peso Mensual</h3>
                <p>Peso: 0Kg</p>
                <div class="image-container">
                    <div class="honeycomb">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                </div>
                <div class="chart">

                </div>
            </div>
            <div class="card">
                <h3>Peso Anual</h3>
                <p>Peso: 0Kg</p>
                <div class="image-container">
                    <div class="honeycomb">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                </div>
                <div class="chart">
                    
                </div>
            </div>
            <div class="card">
                <h3>Peso Tiempo Real</h3>
                <p>Peso: 0Kg</p>
                <div class="image-container">
                    <div class="honeycomb">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                </div>
                <div class="chart">
                    
                </div>
            </div>
        </div>
    </div>
</div>

