<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="dashboard">
    <div class="card">
        <h2>Temperatura</h2>
        <i class="uil uil-temperature-half"></i>
        <p>Información sobre la temperatura actual.</p>
    </div>
    <div class="card">
        <h2>Humedad</h2>
        <i class="uil uil-tear"></i>
        <p>Detalles de humedad en el ambiente.</p>
    </div>
    <div class="card">
        <h2>Peso</h2>
        <i class="uil uil-balance-scale"></i>
        <p>Visualización de datos de peso.</p>
    </div>
    <div class="card">
        <h2>Cámaras</h2>
        <i class="uil uil-camera"></i>
        <p>Estado y acceso a las cámaras en vivo.</p>
    </div>
</div>
